<!DOCTYPE html>
<html>
<head>
{% load static %}
{% block title %}<title>Video Seznam</title>{% endblock %}
<script src="{% static '/js/moment.min.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>

<link rel="stylesheet" href={%static '/css/bootstrap.min.css' %} integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src={% static '/js/jquery-3.3.1.slim.min.js' %} integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src={% static '/js/popper.min.js' %} integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src={% static '/js/bootstrap.min.js'%} integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

</head>
   {% load static %}
   <style>

       {% block style %}
       {% endblock %}

   </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'video_list' %}"> Video Seznam</a>

        {% else %}
            <a class="navbar-brand" href="{% url 'login' %}"> Prihlasit se </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Odhlasit se</a>
                    </li>
                
                {% else %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'login' %}">Prihlasit se</a>
                    </li>
                {% endif %}
            </ul>

            
            
        </div>
    </nav>
    
    <div class="row mt-5 mx-auto">
        <div class="col-sm-10 mx-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
</body>
<script>
{% block javascript %}
{% endblock %}
</script>
</html>
